
@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aileronregular';
    src: url('/fonts/aileron/aileron-regular-webfont.woff2') format('woff2'),
         url('./fonts/aileron/aileron-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    --background-color: #35284f;
    --button-color: #68de91; 
    --secondary-color: #1c1726;
    --font-color: #fff;
    --text-box: #43375c;
}

html {
    padding: 0;
}

body {
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'aileronregular';
    margin: 0;
}

input,
textarea,
select,
button {
  width: 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'aileronregular';
}

input {
    outline: none;
    background-color: var(--text-box);
    color: var(--font-color);
    border: 1px solid var(--text-box);
}

input:focus:invalid {
    border: 1px solid red;  
}

input:focus:valid {
    border: 1px solid var(--button-color);
}


#main-container {
    display: flex;
    flex-flow: row nowrap;
}

#image-container {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    position: relative;
}

#form-container {
    display: flex;
    flex-flow: column wrap;
}

.splash-container {
    padding: 50px 20px 50px 20px;
    display: flex;
    flex-flow: column wrap;
    font-size: 1.5rem;
    width: 600px;
}

.has-account {
    padding: 25px 20px 25px 20px;
}

#form {
    background-color: var(--secondary-color);
    padding: 20px;
    width: 700px;
}

form {
    display: flex;
    flex-flow: row wrap;
    width: 600px;

}

.widget-wrapper {
    margin: 25px 20px 25px 20px;
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
}

button[type="submit"] {
   background-color: var(--button-color);
   color: black;
   border-radius: 6px;
   padding: 4px 10px;
   width: 10rem;
   border: 1px solid var(--secondary-color)
}

button[type=submit]:active {
    background-color: #3d8556;
}

.footer {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    align-items: left;
}

.footer > * {
    margin: 40px;
    margin-bottom: 0;
}

.has-account {
    padding: 0;
}

#title-box {
    font-family: 'norsebold';
    position: absolute;
    top: 20%;
    font-size: 90px;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 1.4em;
}

#credit {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 5px 0px; 
}

a {
    color: var(--button-color);
}

.has-account > a {
    text-decoration: none;
}

.warning {
    font-size: 1.2rem;
    font-weight: bolder;
    font-style: italic;
}